body {
  font-size: large;
  color: black;
  text-align: center;
  margin: 0;
  line-height: 1.5;
  font-family: 'Trebuchet MS', Arial, sans-serif;
  background-color: #ccc992;
  animation: section 2s linear infinite alternate;
}

#h1 {
  margin: 0;
}

#bankAccountTitle,
#tipCalculatorTitle,
#snakeGameTitle,
#latestLaptopDealsTitle,
#sierpinskiCarpetTitle,
#voiceBasedTodoListTitle {
  margin: 0
}

#header {
  padding: 80px 0;
  background-color: #c12a64;
  border-radius: 80px;
}

#content-wrap {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
}

#grid {
  display: grid;
  grid-template-columns: auto;
  background-color: #2196f3;
  padding: 50px;
  border-radius: 80px;
  margin: 0;
}

#content-wrap1 {
  max-width: 1000px;
  width: 85%;
  margin: 0 auto;
  padding: 5px;
}

#section {
  padding-top: 0;
}

@keyframes section {
  from {
    background-color: rgb(155, 221, 201);
  }
  to {
    background-color: rgb(230, 193, 125);
  }
}

#footer {
  border-radius: 80px;
  padding: 0;
  background-color: #1081af;
  justify-content: center;
}

#ul {
  list-style-type: none;
  line-height: 2;
}

#projects {
  padding: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

#projects .btn {
  color: #f7fff7;
  background: linear-gradient(#4d46a3, #ff0060);
  text-decoration: none;
  padding: 16px;
  border-radius: 80px;
  display: inline-block;
}

#projects .btn:hover {
  background: rgba(143, 212, 52, 0.8);
}

#btn1 {
  color: #cddfaa;
}
